<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            class="org.archstudio.archlight.core.ArchlightToolAggregatorMyxComponent"
            id="org.archstudio.archlight.core.ArchlightToolAggregatorMyxComponent"
            name="Myx Impl">
         <interface
               class="org.archstudio.myx.java.conn.IMultiwayResults"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="results"
               name="results"
               single="true">
         </interface>
         <interface
               class="org.archstudio.archlight.IArchlightTool"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="tools"
               name="tools"
               single="true">
         </interface>
         <interface
               class="org.archstudio.archlight.IArchlightTool"
               delegate="brick"
               direction="in"
               domain="top"
               getter="true"
               id="tool"
               name="tool"
               single="true">
         </interface>
         <interface
               class="org.archstudio.myx.java.conn.IMultiwayProgressListener"
               delegate="brick"
               direction="in"
               domain="top"
               getter="true"
               id="progress"
               name="progress"
               single="true">
         </interface>
      </brick>
      <brick
            class="org.archstudio.archlight.core.ArchlightMyxComponent"
            id="org.archstudio.archlight.core.ArchlightMyxComponent"
            name="Archlight Impl"
            parentBrick="org.archstudio.eclipse.ui.editors.AbstractArchStudioEditorMyxComponent">
         <interface
               class="org.archstudio.archlight.IArchlightTool"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="tools"
               name="tools"
               single="true">
         </interface>
         <interface
               class="org.archstudio.testadt.IArchlightTestADT"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="tests"
               name="tests"
               single="true">
         </interface>
      </brick>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.archstudio.archlight.core.ArchlightEditor"
            default="false"
            extensions="xml"
            icon="src/org/archstudio/archlight/core/res/archstudio-icon-16x16.png"
            id="org.archstudio.archlight.core.ArchlightEditor"
            name="Archlight">
      </editor>
   </extension>

</plugin>
