<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            class="org.archstudio.archipelago2.core.Archipelago2MyxComponent"
            id="org.archstudio.archipelago2.core.Archipelago2MyxComponent"
            name="Archipelago v2.0 Impl"
            parentBrick="org.archstudio.eclipse.ui.editors.AbstractArchStudioEditorMyxComponent">
         <interface
               class="org.archstudio.graphlayout.IGraphLayout"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="graphLayout"
               name="graphLayout"
               single="true">
         </interface>
      </brick>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.archstudio.archipelago2.core.Archipelago2Editor"
            default="false"
            extensions="xml"
            icon="res/archstudio-icon-16x16.png"
            id="org.archstudio.archipelago2.core.Archipelago2Editor"
            name="Archipelago v2.0">
      </editor>
   </extension>
   <extension
         point="org.archstudio.archipelago2.editors">
      <Editor
            class="org.archstudio.archipelago2.core.editors.Archipelago2DefaultEditor"
            name="Archipelago">
      </Editor>
   </extension>

</plugin>
