<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            class="org.archstudio.archipelago.core.ArchipelagoMyxComponent"
            id="org.archstudio.archipelago.core.ArchipelagoMyxComponent"
            name="Archipelago Impl"
            parentBrick="org.archstudio.eclipse.ui.editors.AbstractArchStudioEditorMyxComponent">
         <interface
               class="org.archstudio.graphlayout.IGraphLayout"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="graphLayout"
               name="graphLayout"
               single="true">
         </interface>
      </brick>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.archstudio.archipelago.core.ArchipelagoEditor"
            default="false"
            extensions="xml"
            icon="src/org/archstudio/archipelago/core/res/archstudio-icon-16x16.png"
            id="org.archstudio.archipelago.core.ArchipelagoEditor"
            name="Archipelago">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.archstudio.rootpreferences.core.ArchStudioPreferencePanel"
            class="org.archstudio.archipelago.core.prefs.ArchipelagoPreferencePanel"
            id="org.archstudio.archipelago.core.prefs.ArchipelagoPreferencePanel"
            name="Archipelago">
      </page>
   </extension>
   <extension
         point="org.archstudio.bna.dndtransferprovider">
      <DNDTransferProvider
            class="org.archstudio.archipelago.core.ObjRefTransferProvider">
      </DNDTransferProvider>
   </extension>

</plugin>
