<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Eclipse 3.6 Platform SDK" sequenceNumber="11">
<locations>
<location includeAllPlatforms="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.buckminster.core.feature.feature.group" version="1.3.1.r11668"/>
<unit id="org.eclipse.platform.sdk" version="3.6.2.M20110210-1200"/>
<unit id="org.eclipse.rcp.sdk.id" version="3.6.0.M20110210-1200"/>
<unit id="org.eclipse.sdk.ide" version="3.6.2.M20110210-1200"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.6.1.v20100914-1218"/>
<unit id="org.eclipse.draw2d.sdk.feature.group" version="3.6.2.v20110128-0100-7A7G38yE6F08CAO499J539958x42"/>
<unit id="org.eclipse.jet.feature.group" version="1.1.1.v201101271243-5319sC7HCAGERASDK3924"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="3.1.2.v201010261927"/>
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.xsd.ecore.converter.feature.group" version="2.6.0.v20100914-1218"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
<location includeAllPlatforms="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.p2.director.feature.feature.group" version="1.2.1.v20101014-1412"/>
<repository location="http://download.eclipse.org/tools/buckminster/headless-3.6"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
</target>
