<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            class="org.archstudio.graphlayout.core.GraphLayoutMyxComponent"
            id="org.archstudio.graphlayout.core.GraphLayoutMyxComponent"
            name="Graph Layout Impl">
         <interface
               class="org.eclipse.jface.preference.IPreferenceStore"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="preferences"
               name="preferences"
               single="true">
         </interface>
         <interface
               class="org.archstudio.graphlayout.IGraphLayout"
               delegate="variable"
               direction="in"
               domain="bottom"
               getter="true"
               id="graphLayout"
               name="graphLayout"
               single="true">
         </interface>
         <interface
               class="org.archstudio.xarchadt.IXArchADT"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="xarch"
               name="xarch"
               single="true">
         </interface>
      </brick>
      <brick
            class="org.archstudio.graphlayout.core.GraphLayoutPrefsMyxComponent"
            id="org.archstudio.graphlayout.core.GraphLayoutPrefsMyxComponent"
            name="Graph Layout Prefs Impl">
         <interface
               class="org.eclipse.jface.preference.IPreferenceStore"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="preferences"
               name="preferences"
               single="true">
         </interface>
      </brick>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.archstudio.rootpreferences.core.ArchStudioPreferencePanel"
            class="org.archstudio.graphlayout.core.GraphLayoutPreferencePanel"
            id="org.archstudio.graphlayout.core.GraphLayoutPreferencePanel"
            name="Graph Layout">
      </page>
   </extension>

</plugin>
