<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.myx.eclipse.brick">
      <brick
            class="org.archstudio.graphlayout.core.GraphLayoutMyxComponent">
      </brick>
   </extension>
   <extension
         point="org.archstudio.myx.eclipse.brick">
      <brick
            class="org.archstudio.graphlayout.core.GraphLayoutPrefsMyxComponent">
      </brick>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.archstudio.rootpreferences.core.ArchStudioPreferencePanel"
            class="org.archstudio.graphlayout.core.GraphLayoutPreferencePanel"
            id="org.archstudio.graphlayout.core.GraphLayoutPreferencePanel"
            name="Graph Layout">
      </page>
   </extension>

</plugin>
