<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.myx.eclipse.brick">
      <brick
            class="org.archstudio.filemanager.core.FileManagerMyxComponent">
      </brick>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.archstudio.wizards"
            name="ArchStudio 5">
      </category>
      <wizard
            category="org.archstudio.wizards"
            class="org.archstudio.filemanager.core.NewFileWizard"
            finalPerspective="org.archstudio.main.ArchStudio5Perspective"
            icon="res/archstudio-icon-16x16.png"
            id="org.archstudio.filemanager.core.NewFileWizard"
            name="ArchStudio Architecture Description">
      </wizard>
   </extension>

</plugin>
