<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            class="org.archstudio.filemanager.core.FileManagerMyxComponent"
            id="org.archstudio.filemanager.core.FileManagerMyxComponent"
            name="File Manager Impl">
         <interface
               class="org.archstudio.xarchadt.IXArchADT"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="xarch"
               name="xarch"
               single="true">
         </interface>
         <interface
               class="org.archstudio.xarchadt.IXArchADTModelListener"
               delegate="brick"
               direction="in"
               domain="top"
               getter="true"
               id="modelEvents"
               name="modelEvents"
               single="true">
         </interface>
         <interface
               class="org.archstudio.xarchadt.IXArchADTFileListener"
               delegate="brick"
               direction="in"
               domain="top"
               getter="true"
               id="fileEvents"
               name="fileEvents"
               single="true">
         </interface>
         <interface
               class="org.archstudio.filemanager.IFileManager"
               delegate="brick"
               direction="in"
               domain="bottom"
               getter="true"
               id="fileManager"
               name="fileManager"
               single="true">
         </interface>
         <interface
               class="org.archstudio.filemanager.IFileManagerListener"
               delegate="events"
               direction="out"
               domain="bottom"
               getter="true"
               id="fileManagerEvents"
               name="fileManagerEvents"
               single="false">
         </interface>
      </brick>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.archstudio.wizards"
            name="ArchStudio">
      </category>
      <wizard
            category="org.archstudio.wizards"
            class="org.archstudio.filemanager.core.NewFileWizard"
            finalPerspective="org.archstudio.main.ArchStudio5Perspective"
            icon="src/org/archstudio/filemanager/core/res/archstudio-icon-16x16.png"
            id="org.archstudio.filemanager.core.NewFileWizard"
            name="ArchStudio Architecture Description">
      </wizard>
   </extension>

</plugin>
