/.buckminster/
/.metadata/
/External\ Plug-in\ Libraries/
/*/bin/
/*/.settings/
/*/target/classes/
/*.xadl3.*/*.genmodel
/*.xadl3.*/*.xsd2ecore
/*.xadl3.*/*.ecore
/repos/
hs_err_pid*.log
/*.feature/build.xml
/*.p2/build.xml
/*.p2.build/build.xml
/*/javaCompilere...args
org.archstudio.myxgen.builder/xtend-gen/org/archstudio/myxgen/jet/codegen/.gitignore
org.archstudio.prolog.xtext/xtend-gen/org/archstudio/prolog/xtext/generator/.gitignore
javaCompiler...args
