/*/.antlr-*
/*/bin/
/.buckminster/
/External\ Plug-in\ Libraries/
/*.feature/build.xml
hs_err_pid*.log
javaCompiler...args
/.metadata/
null*
/*.p2/build.xml
/*.p2.build/build.xml
/*/plugin.xml_gen
/repos/
/*/.settings/
/*/target/classes/
/*.xadl3.*/*.ecore
/*.xadl3.*/*.genmodel
/*.xadl3.*/*.xsd2ecore
/*/xtend-gen/
