<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.archstudio.myxgen.ui.generateMyxComponentStubs"
            name="Generate Myx Component Stubs">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.archstudio.myxgen.ui.actions.ToggleMyxStubNatureAction"
            commandId="org.archstudio.myxgen.ui.generateMyxComponentStubs">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.archstudio.eclipse.ui.menu">
         <command
               commandId="org.archstudio.myxgen.ui.generateMyxComponentStubs"
               label="Generate Myx Component Stubs"
               style="toggle">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.archstudio.myxgen.ui.actions.ToggleMyxStubNatureAction"></startup>
   </extension>
</plugin>
