<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.w3.org/1999/xlink"
            class="org.w3.xlink.XlinkPackage">
      </package>
   </extension>
   <extension
         point="org.archstudio.dblgen.processedSchema">
      <Schema
            file="model/xlink.xsd"
            nsURI="http://www.w3.org/1999/xlink">
      </Schema>
   </extension>

</plugin>
