
/*
  navbar-background = a 1px tall by 3000px wide gradient from
  background to bright from 0px->150px and bright to background
  at 150px->right edge

  main-page-logo = a 460x107 gradient from bright to background
  with the logo on it.
  can probably also be 600x107

  regular-page-top = a 600x75 gradient from bright to background
  with the small logo in the upper right.

  corner = a 150x75 gradient from background to bright with the
  corner logo on it.  Should be a transparent gif.
*/


body         {
               background-color: #663399; 
               background-image: url(images/navbar-background.png);
             }


a:link {color: #663399; text-decoration: none; }
a:active {color: #663399; text-decoration: none; }
a:visited {color: #663399; text-decoration: none; }
a:hover {color: #663399; text-decoration: underline; }
             
div.corner   { 
               background-image: url(images/navbar-background.png);
               position: absolute; 
               left: 0px; 
               top: 0px; 
               width: 150px;
               height: 75px;
             }

.subtitle {
               margin-top: 3px; 
               margin-bottom: 3px; 
               margin-left: 5px;
               width: 400px;
               color: #ffffff;
               font-family: Tahoma, Arial, helvetica, sans-serif;
               font-size: 23pt;
               font-weight: normal;
             }

.subsubtitle {
               margin-top: 1px; 
               margin-bottom: 3px; 
               margin-left: 20px;
               width: 400px;
               color: #ffffff;
               font-family: Tahoma, Arial, helvetica, sans-serif;
               font-size: 14pt;
               font-weight: normal;
             }

div.navbar   { 
               background-image: url(images/navbar-background.png);
               position: absolute; 
               left: 0px; 
               top: 75px; 
               width: 150px;
             }

.navbartext  {
               padding-left: 5px;
               padding-right: 5px;
               color: #ffffff;
               font-family: Arial, helvetica, sans-serif;
               font-size: 8pt;
               font-weight: normal;
             }

div.navbarhead {
                font-weight: bold;
               }

div.navbarlinks {
                margin-top: 5px;
                }

.navbartext hr {
                 height: 1;
                 color: #ffffff;
                 background-color: #ffffff;
               }

.navbartext a:link {color: #ffffff; text-decoration: none; }
.navbartext a:active {color: #ffffff; text-decoration: none; }
.navbartext a:visited {color: #ffffff; text-decoration: none; }
.navbartext a:hover {color: #ffffff; text-decoration: underline; }

div.mainhead {
               position: absolute;
               background-image: url(images/main-page-logo.png);
               top: 0px;
               left: 150px;
               width: 600px;
               height: 107px;
             }

div.pagehead {
               position: absolute;
               background-image: url(images/regular-page-top.png);
               top: 0px;
               left: 150px;
               width: 600px;
               height: 75px;
             }
             
div.content  {
               font-family: Arial, helvetica, sans-serif;
               font-size: 10pt;

               background-color: #eeeeee;

               position: absolute;
               left: 150px;
               top: 75px;
               width: 600px;

               padding-top: 4px;
               padding-left: 8px;
               padding-right: 8px;
               padding-bottom: 4px;
             }
             
div.content h1 {
                 font-size: 14pt;
                 font-weight: bold;
                 margin-top: 0px;
                 margin-left: 0px;
                 margin-right: 0px;
                 margin-bottom: 10px;
                 padding: 1px;
               }

div.content h2 {
                 font-size: 12pt;
                 font-weight: bold;

                 margin-top: 10px;
                 margin-left: 0px;
                 margin-right: 0px;
                 margin-bottom: 10px;

                 padding-top: 2px;
                 padding-left: 4px;
                 padding-right: 4px;
                 padding-bottom: 2px;
               }

div.content h3 {
                 font-size: 11pt;
                 font-weight: bold;

                 margin-top: 10px;
                 margin-left: 0px;
                 margin-right: 0px;
                 margin-bottom: 10px;

                 padding-top: 2px;
                 padding-left: 4px;
                 padding-right: 4px;
                 padding-bottom: 2px;
               }

div.content p  {
                 margin-top: 10px;
                 margin-left: 0px;
                 margin-right: 0px;
                 margin-bottom: 10px;

                 padding-top: 2px;
                 padding-left: 4px;
                 padding-right: 4px;
                 padding-bottom: 2px;
               }

div.content pre {
               font-family: Courier New,Courier,Monospace;
               font-size: 10pt;
               font-weight: normal;

               color: #222222;

               margin-top: 10px;
               margin-left: 10px;
               margin-right: 10px;
               margin-bottom: 10px;

               padding-top: 4px;
               padding-bottom: 4px;
               padding-left: 8px;
               padding-right: 8px;
}

div.content pre.codeblock {
               background-color: #ffffff;

               border-style: solid;
               border-color: #888888;
               border-width: 1px;
             }

div.content table.quicklink {
               font-size: 12pt;
               font-weight: normal;

               background-color: #ffffff;

               border-style: solid;
               border-color: #888888;
               border-width: 1px;
             }

div.content table.quicklink p {
               font-size: 10pt;
               font-weight: normal;
               
               margin-top: 2px;
               margin-bottom: 2px;

             }
             