<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.archstudio.archedit.core.ArchEditEditor"
            default="false"
            extensions="xml"
            icon="res/archstudio-icon-16x16.png"
            id="org.archstudio.archedit.core.ArchEditEditor"
            name="ArchEdit">
      </editor>
   </extension>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            class="org.archstudio.archedit.core.ArchEditMyxComponent"
            id="org.archstudio.archedit.core.brick2"
            name="ArchEdit Component Impl">
         <parentBrick
               parentBrick="org.archstudio.editors.AbstractArchstudioEditorMyxComponent">
         </parentBrick>
      </brick>
   </extension>

</plugin>
