<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.myx.eclipse.brick">
      <brick
            class="org.archstudio.schematron.core.SchematronMyxComponent"
            id="org.archstudio.schematron.core.SchematronMyxComponent"
            name="Schematron Impl">
      </brick>
      <brick
            class="org.archstudio.schematron.core.prefs.SchematronPrefsMyxComponent"
            id="org.archstudio.schematron.core.prefs.SchematronPrefsMyxComponent"
            name="Schematron Prefs Impl">
      </brick>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.archstudio.archlight.core.prefs.ArchlightPreferencePanel"
            class="org.archstudio.schematron.core.prefs.SchematronPreferencePanel"
            id="org.archstudio.schematron.core.prefs.SchematronPreferencePanel"
            name="Schematron">
      </page>
   </extension>

</plugin>
