<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.archstudio.prolog.console.PrologConsoleFactory"
            label="Prolog">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.archstudio.prolog.console.PrologConsoleFactory$PageParticipant"
            id="org.archstudio.prolog.console.consolePageParticipant1">
         <enablement>
            <test
                  property="org.eclipse.ui.console.consoleTypeTest"
                  value="org.archstudio.prolog.console.PrologConsoleFactory">
            </test></enablement>
      </consolePageParticipant>
   </extension>

</plugin>
