<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            abstract="true"
            class="org.archstudio.eclipse.ui.editors.AbstractArchStudioEditorMyxComponent"
            id="org.archstudio.eclipse.ui.editors.AbstractArchStudioEditorMyxComponent"
            name="Abstract ArchStudio Editor Component Impl">
         <interface
               class="org.archstudio.resources.IResources"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="resources"
               name="resources"
               single="true">
         </interface>
         <interface
               class="org.archstudio.editormanager.IEditorManager"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="editorManager"
               name="editorManager"
               single="true">
         </interface>
         <interface
               class="org.archstudio.eclipse.ui.IFocusEditorListener"
               delegate="myxRegistry"
               direction="in"
               domain="top"
               getter="true"
               id="focusEditorEvents"
               name="focusEditorEvents"
               single="true">
         </interface>
         <interface
               class="org.archstudio.filemanager.IFileManager"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="fileManager"
               name="fileManager"
               single="true">
         </interface>
         <interface
               class="org.archstudio.filemanager.IFileManagerListener"
               delegate="myxRegistry"
               direction="in"
               domain="top"
               getter="true"
               id="fileManagerEvents"
               name="fileManagerEvents"
               single="true">
         </interface>
         <interface
               class="org.archstudio.xarchadt.IXArchADT"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="xarch"
               name="xarch"
               single="true">
         </interface>
         <interface
               class="org.archstudio.xarchadt.IXArchADTFileListener"
               delegate="myxRegistry"
               direction="in"
               domain="top"
               getter="true"
               id="fileEvents"
               name="fileEvents"
               single="true">
         </interface>
         <interface
               class="org.archstudio.xarchadt.IXArchADTModelListener"
               delegate="myxRegistry"
               direction="in"
               domain="top"
               getter="true"
               id="modelEvents"
               name="modelEvents"
               single="true">
         </interface>
         <interface
               class="org.archstudio.launcher.ILaunchable"
               delegate="brick"
               direction="in"
               domain="top"
               getter="true"
               id="launcher"
               name="launcher"
               single="true">
         </interface>
         <interface
               class="org.archstudio.xarchadt.variability.IXArchADTVariabilityListener"
               delegate="myxRegistry"
               direction="in"
               domain="top"
               getter="true"
               id="variabilityEvents"
               name="variabilityEvents"
               single="true">
         </interface>
      </brick>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.archstudio.eclipse.objectContribution1"
            nameFilter="*"
            objectClass="java.lang.Object">
         <menu
               icon="res/archstudio-icon-16x16.png"
               id="org.archstudio.eclipse.popupMenuMain"
               label="ArchStudio">
            <groupMarker
                  name="top">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
            <separator
                  name="bottom">
            </separator>
         </menu>
      </objectContribution>
   </extension>
</plugin>
