<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.archstudio.description/src/org/archstudio/description/ArchStudioDescription.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/org.archstudio.eclipse.core/src/org/archstudio/eclipse/core/startup/archstudio5.xml}"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.archstudio.description.ArchStudioDescription"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.archstudio.description"/>
</launchConfiguration>
