<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.archipelago">
      <ArchipelagoTreePlugin
            class="org.archstudio.prolog.archstudio.ArchipelagoTreePlugin">
      </ArchipelagoTreePlugin>
   </extension>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            class="org.archstudio.prolog.archstudio.PrologMyxComponent"
            id="org.archstudio.prolog.archstudio.PrologMyxComponent"
            name="Prolog Impl">
         <interface
               class="org.archstudio.xarchadt.IXArchADT"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="xarch"
               name="xarch"
               single="true">
         </interface>
         <interface
               class="org.archstudio.testadt.IArchlightTestADT"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="tests"
               name="tests"
               single="true">
         </interface>
         <interface
               class="org.archstudio.archlight.IArchlightTool"
               delegate="brick"
               direction="in"
               domain="top"
               getter="true"
               id="tools"
               name="tools"
               single="true">
         </interface>
      </brick>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="org.archstudio.prolog.archstudio.ObjRefPatternMatchListenerDelegate"
            id="org.archstudio.prolog.archstudio.core.consolePatternMatchListener1"
            regex="ObjRef\[[0-9]*\]">
         <enablement></enablement>
      </consolePatternMatchListener>
   </extension>
   <extension
         point="org.archstudio.prolog.operation">
      <Operation
            class="org.archstudio.prolog.archstudio.ops.Alpha"
            name="alpha">
      </Operation>
      <Operation
            class="org.archstudio.prolog.archstudio.ops.ClearHighlight"
            name="clear_highlight">
      </Operation>
      <Operation
            class="org.archstudio.prolog.archstudio.ops.Color"
            name="color">
      </Operation>
      <Operation
            class="org.archstudio.prolog.archstudio.ops.Highlight"
            name="highlight">
      </Operation>
      <Operation
            class="org.archstudio.prolog.archstudio.ops.Precedes"
            name="precedes">
      </Operation>
      <Operation
            class="org.archstudio.prolog.archstudio.ops.Ascending"
            name="ascending">
      </Operation>
      <Operation
            class="org.archstudio.prolog.archstudio.ops.Populate"
            name="populate">
      </Operation>
      <Operation
            class="org.archstudio.prolog.archstudio.ops.PopulateAscending"
            name="populateascending">
      </Operation>
   </extension>
   <extension
         point="org.archstudio.prolog.archstudio.prologstatement">
      <Statements
            name="ArchStudio Operations">
         <Statement>
            reset(_) :- type(X, _), alpha(X, 1.0), clear_highlight(X).
         </Statement>
      </Statements>
   </extension>

</plugin>
