<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="http://gexf.net/1.2draft/"
            target="platform:/resource/org.archstudio.xadl3.gexf/model.offline/">
      </mapping>
   </extension>
   <extension
         point="org.archstudio.dblgen.schemalocation">
      <schema
            name="net.gexf_1_2.gexf"
            url="http://gexf.net/1.2draft/gexf.xsd"
            autoUpdateFrequency="never"
            copyLocally="false">
      </schema>
      <schema
            name="net.gexf_1_2.viz"
            url="http://gexf.net/1.2draft/viz.xsd"
            autoUpdateFrequency="never"
            copyLocally="false">
      </schema>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.gexf.net/1.2draft"
            class="net.gexf_1_2.gexf.GexfPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.gexf.net/1.2draft/viz"
            class="net.gexf_1_2.viz.VizPackage">
      </package>
   </extension>

</plugin>
