<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="http://gexf.net/1.2draft"
            target="platform:/resource/org.archstudio.xadl3.gexf/model.offline">
      </mapping>
   </extension>

</plugin>
