<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.archstudio.myxgen.myxStubNature"
         name="Myx Component Stub Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.archstudio.myxgen.MyxStubNature">
         </run>
      </runtime>
      <builder
            id="org.archstudio.myxgen.myxStubBuilder">
      </builder>
      <requires-nature
            id="org.eclipse.pde.PluginNature">
      </requires-nature>
   </extension>
   <extension
         id="org.archstudio.myxgen.myxStubBuilder"
         name="Myx Component Stub Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.archstudio.myxgen.builder.MyxStubBuilder">
         </run>
      </builder>
   </extension>
</plugin>
