<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.archstudio.myxgen.eclipse.myxStubBuilder"
         name="Myx Component Stub Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.archstudio.myxgen.eclipse.MyxStubBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.archstudio.myxgen.eclipse.myxStubNature"
         name="Myx Component Stub Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.archstudio.myxgen.eclipse.MyxStubNature">
         </run>
      </runtime>
      <builder
            id="org.archstudio.myxgen.eclipse.myxStubBuilder">
      </builder>
      <requires-nature
            id="org.eclipse.pde.PluginNature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.archstudio.myxgen.eclipse.myxStubNature.objectContribution"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.archstudio.myxgen.eclipse.action.ToggleMyxStubNatureAction"
               enablesFor="+"
               id="org.archstudio.myxgen.eclipse.myxStubNature.action"
               label="Generate Myx Component Stubs"
               style="toggle">
            <enablement>
               <objectState
                     name="projectNature"
                     value="org.eclipse.pde.PluginNature">
               </objectState>
            </enablement>
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.archstudio.myxgen.eclipse.action.ToggleMyxStubNatureAction">
      </startup>
   </extension>

</plugin>
