<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.archstudio.dblgen.xadl3SchemaNature"
         name="xADL 3 Schema Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.archstudio.dblgen.Xadl3SchemaNature">
         </run>
      </runtime>
      <builder
            id="org.archstudio.dblgen.xadl3SchemaBuilder">
      </builder>
      <requires-nature
            id="org.eclipse.pde.PluginNature">
      </requires-nature>
   </extension>
   <extension
         id="org.archstudio.dblgen.xadl3SchemaBuilder"
         name="xADL 3 Schema Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.archstudio.dblgen.builder.Xadl3SchemaBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            class="org.archstudio.dblgen.DblGenComponent"
            id="org.archstudio.dblgen.core.brick1"
            name="xADL Data Binding Library (DBL) Generator Impl">
         <interface
               class="org.archstudio.dblgen.IDataBindingGenerator"
               delegate="variable"
               direction="in"
               domain="bottom"
               getter="true"
               id="dblgen"
               name="dblgen"
               single="true">
         </interface>
      </brick>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.archstudio.dblgen.ui.toggleXadl3SchemaNature"
            name="Generate xADL 3 Schema DBLs">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.archstudio.dblgen.ui.actions.ToggleXadl3SchemaNatureAction"
            commandId="org.archstudio.dblgen.ui.toggleXadl3SchemaNature">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.archstudio.eclipse.ui.menu">
         <command
               commandId="org.archstudio.dblgen.ui.toggleXadl3SchemaNature"
               label="Generate xADL 3 Schema DBLs"
               style="toggle">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.archstudio.dblgen.ui.actions.ToggleXadl3SchemaNatureAction"></startup>
   </extension>
</plugin>
