<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            class="org.archstudio.issueview.core.ArchlightIssueViewMyxComponent"
            id="org.archstudio.issueview.core.ArchlightIssueViewMyxComponent"
            name="Archlight Issue Impl">
         <interface
               class="org.archstudio.xarchadt.IXArchADT"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="xarch"
               name="xarch"
               single="true">
         </interface>
         <interface
               class="org.archstudio.resources.IResources"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="resources"
               name="resources"
               single="true">
         </interface>
         <interface
               class="org.eclipse.jface.preference.IPreferenceStore"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="preferences"
               name="preferences"
               single="true">
         </interface>
         <interface
               class="org.archstudio.editormanager.IEditorManager"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="editorManager"
               name="editorManager"
               single="true">
         </interface>
         <interface
               class="org.archstudio.issueadt.ArchlightIssueADTListener"
               delegate="events"
               direction="in"
               domain="top"
               getter="true"
               id="issueEvents"
               name="issueEvents"
               single="false">
         </interface>
         <interface
               class="org.archstudio.issueadt.IArchlightIssueADT"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="issues"
               name="issues"
               single="true">
         </interface>
      </brick>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.archstudio.issueview.core.ArchlightIssueView"
            icon="res/archstudio-icon-16x16.png"
            id="org.archstudio.issueview.core.ArchlightIssueView"
            name="Archlight Issues"
            restorable="true">
      </view>
   </extension>

</plugin>
