<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            class="org.archstudio.demo.chatsys.server.ChatServerMyxComponent"
            id="org.archstudio.demo.chatsys.brick1"
            name="Server Impl">
         <interface
               class="org.archstudio.demo.chatsys.IChat"
               delegate="variable"
               direction="in"
               getter="true"
               id="chat"
               name="chat"
               single="true">
         </interface>
         <interface
               class="org.archstudio.demo.chatsys.IChatListener"
               delegate="variable"
               direction="in"
               getter="true"
               id="chatEvents"
               name="chatEvents"
               single="true">
         </interface>
      </brick>
      <brick
            class="org.archstudio.demo.chatsys.client.ChatClientMyxComponent"
            id="org.archstudio.demo.chatsys.brick2"
            name="Client Impl">
         <interface
               class="org.archstudio.demo.chatsys.IChat"
               delegate="variable"
               direction="in"
               getter="true"
               id="chat"
               name="chat"
               single="true">
         </interface>
         <interface
               class="org.archstudio.demo.chatsys.IChatListener"
               delegate="variable"
               direction="in"
               getter="true"
               id="chatEvents"
               name="chatEvents"
               single="true">
         </interface>
      </brick>
   </extension>

</plugin>
