<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.archstudio.releng.pde.ui.addRequiredWorkspacePlugins"
            name="Add Required Workspace Plugins">
      </command>
      <command
            id="org.archstudio.releng.pde.ui.removeDependencyVersionNumbers"
            name="Remove Dependency Version Numbers">
      </command>
      <command
            id="org.archstudio.releng.pde.ui.sortManifest"
            name="Sort Manifest">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.archstudio.releng.pde.actions.AddRequiredWorkspacePlugins"
            commandId="org.archstudio.releng.pde.ui.addRequiredWorkspacePlugins">
      </handler>
      <handler
            class="org.archstudio.releng.pde.actions.RemoveDependencyVersionNumbers"
            commandId="org.archstudio.releng.pde.ui.removeDependencyVersionNumbers">
      </handler>
      <handler
            class="org.archstudio.releng.pde.actions.SortManifests"
            commandId="org.archstudio.releng.pde.ui.sortManifest">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.archstudio.eclipse.ui.menu">
         <menu
               label="Release Tools">
            <command
                  commandId="org.archstudio.releng.pde.ui.addRequiredWorkspacePlugins"
                  label="Add Required Workspace Plugins"
                  style="push">
            </command>
            <command
                  commandId="org.archstudio.releng.pde.ui.removeDependencyVersionNumbers"
                  label="Remove Dependency Version Numbers"
                  style="push">
            </command>
            <command
                  commandId="org.archstudio.releng.pde.ui.sortManifest"
                  label="Sort Manifest"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
