<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.myx.eclipse.brick">
      <brick
            class="org.archstudio.aimlauncher.core.AIMLauncherMyxComponent">
      </brick>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.archstudio.aimlauncher.core.AIMLauncherEditor"
            default="false"
            extensions="xml"
            icon="res/archstudio-icon-16x16.png"
            id="org.archstudio.aimlauncher.core.AIMLauncherEditor"
            name="AIM Launcher">
      </editor>
   </extension>

</plugin>
