<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.archstudio.aimlauncher.core.AIMLauncherEditor"
            default="false"
            extensions="xml"
            icon="res/archstudio-icon-16x16.png"
            id="org.archstudio.aimlauncher.core.AIMLauncherEditor"
            name="AIM Launcher">
      </editor>
   </extension>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            class="org.archstudio.aimlauncher.core.AIMLauncherMyxComponent"
            id="org.archstudio.aimlauncher.core.AIMLauncherMyxComponent"
            name="AIM Launcher Component Impl">
         <parentBrick
               parentBrick="org.archstudio.editors.AbstractArchstudioEditorMyxComponent"></parentBrick>
         <interface
               class="org.archstudio.aim.IAIM"
               delegate="variable"
               direction="out"
               getter="true"
               id="aim"
               name="aim"
               single="true">
         </interface>
      </brick>
   </extension>

</plugin>
