<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            class="org.archstudio.editors.AbstractArchstudioEditorMyxComponent"
            id="org.archstudio.editors.AbstractArchstudioEditorMyxComponent"
            name="Abstract ArchStudio Editor Component Impl">
         <interface
               class="org.archstudio.resources.IResources"
               delegate="variable"
               direction="out"
               getter="true"
               id="org.archstudio.editors.interface4"
               name="resources"
               single="true">
         </interface>
         <interface
               class="org.archstudio.editormanager.IEditorManager"
               delegate="variable"
               direction="out"
               getter="true"
               id="org.archstudio.editors.interface5"
               name="editorManager"
               single="true">
         </interface>
         <interface
               class="org.archstudio.editors.IFocusEditorListener"
               delegate="myxRegistry"
               direction="in"
               getter="true"
               id="org.archstudio.editors.interface10"
               name="focusEditorEvents"
               single="true">
         </interface>
         <interface
               class="org.archstudio.filemanager.IFileManager"
               delegate="variable"
               direction="out"
               getter="true"
               id="org.archstudio.editors.interface6"
               name="fileManager"
               single="true">
         </interface>
         <interface
               class="org.archstudio.filemanager.IFileManagerListener"
               delegate="myxRegistry"
               direction="in"
               getter="true"
               id="org.archstudio.editors.interface11"
               name="fileManagerEvents"
               single="true">
         </interface>
         <interface
               class="org.archstudio.xarchadt.IXArchADT"
               delegate="variable"
               direction="out"
               getter="true"
               id="org.archstudio.editors.interface7"
               name="xarch"
               single="true">
         </interface>
         <interface
               class="org.archstudio.xarchadt.IXArchADTFileListener"
               delegate="myxRegistry"
               direction="in"
               getter="true"
               id="org.archstudio.editors.interface9"
               name="fileEvents"
               single="true">
         </interface>
         <interface
               class="org.archstudio.xarchadt.IXArchADTModelListener"
               delegate="myxRegistry"
               direction="in"
               getter="true"
               id="org.archstudio.editors.interface8"
               name="modelEvents"
               single="true">
         </interface>
         <interface
               class="org.archstudio.launcher.ILaunchable"
               delegate="brick"
               direction="in"
               getter="true"
               id="org.archstudio.editors.interface12"
               name="launcher"
               single="true">
         </interface>
      </brick>
   </extension>

</plugin>
