<?xml version='1.0' encoding='UTF-8'?>
<matrix-project>
  <actions/>
  <description>Builds ArchStudio and its constituent features.</description>
  <project-properties class="java.util.concurrent.ConcurrentHashMap">
    <entry>
      <string>blockBuildWhenDownstreamBuilding</string>
      <boolean-property>
        <originalValue class="boolean">false</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>hudson-plugins-performance-PerformancePublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>org-hudsonci-plugins-snapshotmonitor-SnapshotTrigger</string>
      <trigger-property>
        <propertyOverridden>false</propertyOverridden>
      </trigger-property>
    </entry>
    <entry>
      <string>org-hudsonci-plugins-snapshotmonitor-WatchedDependenciesProperty</string>
      <base-property>
        <propertyOverridden>false</propertyOverridden>
      </base-property>
    </entry>
    <entry>
      <string>hudson-plugins-logparser-LogParserPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>logRotator</string>
      <log-rotator-property>
        <originalValue class="hudson.tasks.LogRotator">
          <daysToKeep>-1</daysToKeep>
          <numToKeep>-1</numToKeep>
          <artifactDaysToKeep>-1</artifactDaysToKeep>
          <artifactNumToKeep>-1</artifactNumToKeep>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </log-rotator-property>
    </entry>
    <entry>
      <string>scmCheckoutRetryCount</string>
      <integer-property>
        <propertyOverridden>false</propertyOverridden>
      </integer-property>
    </entry>
    <entry>
      <string>blockBuildWhenUpstreamBuilding</string>
      <boolean-property>
        <originalValue class="boolean">false</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>org-hudsonci-maven-plugin-dependencymonitor-DependencyNotifier</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-git-GitPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>org-hudsonci-maven-plugin-artifactrecorder-ArtifactArchiver</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>axes</string>
      <axis-list-property>
        <originalValue class="hudson.matrix.AxisList">
          <hudson.matrix.TextAxis>
            <name>eclipse_version</name>
            <values>
              <string>3.7</string>
              <string>4.2</string>
              <string>4.3</string>
            </values>
          </hudson.matrix.TextAxis>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </axis-list-property>
    </entry>
    <entry>
      <string>hudson-plugins-setenv-SetEnvBuildWrapper</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-tasks-Mailer</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-tasks-test-AggregatedTestResultPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>cleanWorkspaceRequired</string>
      <boolean-property>
        <originalValue class="boolean">false</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>combinationFilter</string>
      <string-property>
        <propertyOverridden>false</propertyOverridden>
      </string-property>
    </entry>
    <entry>
      <string>hudson-tasks-junit-JUnitResultArchiver</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-tasks-Fingerprinter</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>com-progress-hudson-ScheduleFailedBuildsPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-tasks-JavadocArchiver</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>parametersDefinitionProperties</string>
      <copy-write-list-property>
        <originalValue class="hudson.util.CopyOnWriteList"/>
        <propertyOverridden>false</propertyOverridden>
      </copy-write-list-property>
    </entry>
    <entry>
      <string>hudson-plugins-warnings-WarningsPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>customWorkspace</string>
      <string-property>
        <propertyOverridden>false</propertyOverridden>
      </string-property>
    </entry>
    <entry>
      <string>quietPeriod</string>
      <integer-property>
        <propertyOverridden>false</propertyOverridden>
      </integer-property>
    </entry>
    <entry>
      <string>hudson-tasks-BuildTrigger</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-triggers-SCMTrigger</string>
      <trigger-property>
        <originalValue class="hudson.triggers.SCMTrigger">
          <spec>* * * * *</spec>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </trigger-property>
    </entry>
    <entry>
      <string>builders</string>
      <describable-list-property>
        <originalValue class="hudson.util.DescribableList">
          <hudson.tasks.Ant>
            <targets> -Ddir=&quot;${WORKSPACE}&quot;&#xd;
 -Ddelete=**/*&#xd;
 -Dretain=repos/**/*,director*,director*/**/*,.metadata/.plugins/org.eclipse.pde.core/.bundle_pool/**/*&#xd;
clean&#xd;
install-buckminster</targets>
            <antName>Ant 1.8</antName>
            <buildFile>repos/org.archstudio.releng/build.xml</buildFile>
            <properties>eclipse.version=4.2&#xd;
local.repos=${WORKSPACE}/repos</properties>
          </hudson.tasks.Ant>
          <hudson.tasks.Ant>
            <targets> -Dbuckminster.component=org.archstudio.buckminster.p2&#xd;
 -Dupdate.site.feature=org.archstudio.buckminster.feature&#xd;
resolvebuildupdate</targets>
            <antName>Ant 1.8</antName>
            <buildFile>repos/org.archstudio.releng/build.xml</buildFile>
            <properties>eclipse.version=4.2&#xd;
local.repos=${WORKSPACE}/repos</properties>
          </hudson.tasks.Ant>
          <hudson.tasks.Ant>
            <targets> -Ddir=&quot;${WORKSPACE}&quot;&#xd;
 -Ddelete=**/*&#xd;
 -Dretain=repos/**/*,director*,director*/**/*,.metadata/.plugins/org.eclipse.pde.core/.bundle_pool/**/*,buckminster/**/*&#xd;
clean</targets>
            <antName>Ant 1.8</antName>
            <buildFile>repos/org.archstudio.releng/build.xml</buildFile>
            <properties>eclipse.version=${eclipse_version}&#xd;
local.repos=${WORKSPACE}/repos</properties>
          </hudson.tasks.Ant>
          <hudson.tasks.Ant>
            <targets> -Dbuckminster.component=org.archstudio.p2&#xd;
 -Dsite.pack200=true&#xd;
 -propertyfile /var/lib/hudson/signing.properties&#xd;
resolve-cquery&#xd;
build-update-site</targets>
            <antName>Ant 1.8</antName>
            <buildFile>repos/org.archstudio.releng/build.xml</buildFile>
            <properties>eclipse.version=${eclipse_version}&#xd;
local.repos=${WORKSPACE}/repos</properties>
          </hudson.tasks.Ant>
          <hudson.tasks.Shell>
            <command>rsync -rv --delete-after --delay-updates ${WORKSPACE}/org.archstudio.p2/ sahendrickson@www.archstudio.org:/var/www/p2/${eclipse_version}</command>
          </hudson.tasks.Shell>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </describable-list-property>
    </entry>
    <entry>
      <string>jdk</string>
      <string-property>
        <propertyOverridden>false</propertyOverridden>
      </string-property>
    </entry>
    <entry>
      <string>touchStoneResultCondition</string>
      <result-property>
        <propertyOverridden>false</propertyOverridden>
      </result-property>
    </entry>
    <entry>
      <string>appointedNode</string>
      <base-property>
        <propertyOverridden>false</propertyOverridden>
      </base-property>
    </entry>
    <entry>
      <string>hudson-tasks-ArtifactArchiver</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>concurrentBuild</string>
      <boolean-property>
        <originalValue class="boolean">false</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>org-hudsonci-maven-plugin-dependencymonitor-DependencyTrigger</string>
      <trigger-property>
        <propertyOverridden>false</propertyOverridden>
      </trigger-property>
    </entry>
    <entry>
      <string>runSequentially</string>
      <boolean-property>
        <originalValue class="boolean">false</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>scm</string>
      <scm-property>
        <originalValue class="hudson.plugins.git.GitSCM">
          <configVersion>1</configVersion>
          <remoteRepositories>
            <RemoteConfig>
              <name>origin</name>
              <uris>
                <org.eclipse.jgit.transport.URIish>
                  <scheme>https</scheme>
                  <path>/sahendrickson/ArchStudio.git</path>
                  <port>-1</port>
                  <host>github.com</host>
                </org.eclipse.jgit.transport.URIish>
              </uris>
              <pushURIs/>
              <fetch>
                <org.eclipse.jgit.transport.RefSpec>
                  <force>true</force>
                  <wildcard>true</wildcard>
                  <srcName>refs/heads/*</srcName>
                  <dstName>refs/remotes/origin/*</dstName>
                </org.eclipse.jgit.transport.RefSpec>
              </fetch>
              <push/>
              <uploadpack>git-upload-pack</uploadpack>
              <receivepack>git-receive-pack</receivepack>
              <tagopt>AUTO_FOLLOW</tagopt>
              <mirror>false</mirror>
              <timeout>0</timeout>
              <relativeTargetDir>repos</relativeTargetDir>
            </RemoteConfig>
          </remoteRepositories>
          <branches>
            <hudson.plugins.git.BranchSpec>
              <name>master</name>
            </hudson.plugins.git.BranchSpec>
          </branches>
          <mergeOptions/>
          <recursiveSubmodules>false</recursiveSubmodules>
          <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
          <authorOrCommitter>false</authorOrCommitter>
          <clean>false</clean>
          <wipeOutWorkspace>false</wipeOutWorkspace>
          <pruneBranches>false</pruneBranches>
          <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
          <gitTool>Default</gitTool>
          <browser class="hudson.plugins.git.browser.GithubWeb">
            <url>https://github.com/sahendrickson/ArchStudio/</url>
          </browser>
          <submoduleCfg class="list"/>
          <excludedRegions></excludedRegions>
          <excludedUsers></excludedUsers>
          <gitConfigName></gitConfigName>
          <gitConfigEmail></gitConfigEmail>
          <skipTag>true</skipTag>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </scm-property>
    </entry>
    <entry>
      <string>touchStoneCombinationFilter</string>
      <string-property>
        <propertyOverridden>false</propertyOverridden>
      </string-property>
    </entry>
    <entry>
      <string>com-progress-hudson-ScheduleFailedBuildsTrigger</string>
      <trigger-property>
        <propertyOverridden>false</propertyOverridden>
      </trigger-property>
    </entry>
    <entry>
      <string>org-hudsonci-maven-plugin-artifactrecorder-ArtifactFingerprinter</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-triggers-TimerTrigger</string>
      <trigger-property>
        <propertyOverridden>false</propertyOverridden>
      </trigger-property>
    </entry>
  </project-properties>
  <keepDependencies>false</keepDependencies>
  <creationTime>1320643379241</creationTime>
  <properties/>
  <cascadingChildrenNames class="java.util.concurrent.CopyOnWriteArraySet"/>
  <cascading-job-properties class="java.util.concurrent.CopyOnWriteArraySet">
    <string>org-hudsonci-plugins-snapshotmonitor-WatchedDependenciesProperty</string>
  </cascading-job-properties>
  <scm class="hudson.scm.NullSCM"/>
  <advancedAffinityChooser>false</advancedAffinityChooser>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <concurrentBuild>false</concurrentBuild>
  <cleanWorkspaceRequired>false</cleanWorkspaceRequired>
  <runSequentially>false</runSequentially>
</matrix-project>