<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id=""
         name=""
         point="org.eclipse.jet.transform">
      <transform 
            startTemplate="templates/main.jet" 
            templateLoaderClass="org.archstudio.myxgen.jet.compiled._jet_transformation"
            enableEmbeddedExpressions="true"
            >
         <description></description>
         <tagLibraries>
            <importLibrary id="org.eclipse.jet.controlTags" usePrefix="c" autoImport="true"/>
            <importLibrary id="org.eclipse.jet.javaTags" usePrefix="java" autoImport="true"/>
            <importLibrary id="org.eclipse.jet.formatTags" usePrefix="f" autoImport="true"/>
            <importLibrary id="org.eclipse.jet.workspaceTags" usePrefix="ws" autoImport="false"/>
         </tagLibraries>
      </transform>
   </extension>
   <extension
         id="org.archstudio.myxgen.myxStubNature"
         name="Myx Component Stub Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.archstudio.myxgen.MyxStubNature">
         </run>
      </runtime>
      <builder
            id="org.archstudio.myxgen.myxStubBuilder">
      </builder>
      <requires-nature
            id="org.eclipse.pde.PluginNature">
      </requires-nature>
   </extension>
   <extension
         id="org.archstudio.myxgen.myxStubBuilder"
         name="Myx Component Stub Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.archstudio.myxgen.builder.MyxStubBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.archstudio.myxgen.core.objectContribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.archstudio.myxgen.action.ToggleMyxStubNatureAction"
               enablesFor="+"
               id="org.archstudio.myxgen.myxStubNature.action"
               label="Generate Myx Component Stubs"
               menubarPath="org.archstudio.eclipse.popupMenuMain/bottom"
               style="toggle">
         </action>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </objectState>
               <objectState
                     name="projectNature"
                     value="org.eclipse.pde.PluginNature">
               </objectState>
            </and>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.archstudio.myxgen.action.ToggleMyxStubNatureAction">
      </startup>
   </extension>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            class="org.archstudio.myxgen.MyxGenMyxComponent"
            id="org.archstudio.myxgen.core.brick1"
            name="Myx Component Stub Generator Impl">
         <interface
               class="org.archstudio.myxgen.IMyxStubGenerator"
               delegate="variable"
               direction="in"
               getter="true"
               id="org.archstudio.myxgen.core.interface1"
               single="true"
               name="myxgen">
         </interface>
      </brick>
   </extension>

</plugin>
