<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.archstudio.main.ArchStudio5Views"
            class="org.archstudio.launcher.core.LauncherView"
            icon="src/org/archstudio/launcher/core/res/archstudio-icon-16x16.png"
            id="org.archstudio.launcher.core.LauncherView"
            name="ArchStudio Launcher"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            class="org.archstudio.launcher.core.LauncherMyxComponent"
            id="org.archstudio.launcher.core.LauncherMyxComponent"
            name="Launcher Impl">
         <interface
               class="org.archstudio.myx.conn.IMultiwayResults"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="results"
               name="results"
               single="true">
         </interface>
         <interface
               class="org.archstudio.launcher.ILaunchable"
               delegate="variable"
               direction="out"
               domain="bottom"
               getter="true"
               id="launcher"
               name="launcher"
               single="true">
         </interface>
         <interface
               class="org.archstudio.resources.IResources"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="resources"
               name="resources"
               single="true">
         </interface>
      </brick>
   </extension>

</plugin>
