<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            class="org.archstudio.myx.comp.MyxRuntimeComponent"
            id="org.archstudio.myx.comp.MyxRuntimeComponent"
            name="Myx Runtime Impl">
            
         <interface
               class="org.archstudio.myx.fw.IMyxRuntime"
               delegate="variable"
               direction="in"
               domain="bottom"
               getter="true"
               id="myxRuntime"
               name="myxRuntime"
               single="true">
         </interface>
      </brick>
      <brick
            class="org.archstudio.myx.conn.SynchronousMultiwayProxyConnector"
            id="org.archstudio.myx.conn.SynchronousMultiwayProxyConnector"
            name="Synchronous Multiway Proxy Impl">
            <interface
                  class="org.archstudio.myx.conn.IMultiwayResults"
                  delegate="variable"
                  direction="in"
                  domain="bottom"
                  getter="true"
                  id="results"
                  name="results"
                  single="true">
         </interface>
         <interface
               class="java.lang.Object"
               delegate="variable"
               direction="in"
               domain="top"
               getter="true"
               id="out"
               name="out"
               single="true">
         </interface>
         <interface
               class="java.lang.Object"
               delegate="variable"
               direction="in"
               domain="bottom"
               getter="true"
               id="in"
               name="in"
               single="true">
         </interface>
         <interface
               class="org.archstudio.myx.conn.IMultiwayProgressListener"
               delegate="variable"
               direction="in"
               domain="bottom"
               getter="true"
               id="progress"
               name="progress"
               single="true">
         </interface>
      </brick>
      <brick
            class="org.archstudio.myx.conn.EventPumpConnector"
            id="org.archstudio.myx.conn.EventPumpConnector"
            name="Event Pump Impl">
         <interface
               class="java.lang.Object"
               delegate="variable"
               direction="in"
               domain="top"
               getter="true"
               id="in"
               name="in"
               single="true">
         </interface>
         <interface
               class="java.lang.Object"
               delegate="variable"
               direction="in"
               domain="bottom"
               getter="true"
               id="out"
               name="out"
               single="true">
         </interface>
      </brick>
   </extension>

</plugin>
