<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.archstudio.eclipsedev.xadl3SchemaBuilder"
         name="xADL 3 Schema Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.archstudio.eclipsedev.core.builder.Xadl3SchemaBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.archstudio.eclipsedev.xadl3SchemaNature"
         name="xADL 3 Schema Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.archstudio.eclipsedev.core.Xadl3SchemaNature">
         </run>
      </runtime>
      <builder
            id="org.archstudio.eclipsedev.xadl3SchemaBuilder">
      </builder>
      <requires-nature
            id="org.eclipse.pde.PluginNature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.archstudio.eclipsedev.core.popupMenuAdditions"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.archstudio.eclipsedev.core.action.ToggleXadl3SchemaNatureAction"
               enablesFor="+"
               id="org.archstudio.eclipsedev.xadl3SchemaNature.action"
               label="Generate xADL 3 Schema DBLs"
               style="toggle">
            <enablement>
               <objectState
                     name="projectNature"
                     value="org.eclipse.pde.PluginNature">
               </objectState>
            </enablement>
         </action>
      </objectContribution>
   </extension>
   <extension
         id="org.archstudio.eclipsedev.xadl3SchemaBuilderProblem"
         name="xADL 3 Schema Builder Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.archstudio.myx.eclipse.brick">
      <brick
            class="org.archstudio.eclipsedev.core.EclipseDevMyxComponent"
            id="org.archstudio.eclipsedev.core.EclipseDevMyxComponent"
            name="Eclipse Development Impl">
      </brick>
      <brick
            class="org.archstudio.eclipsedev.core.prefs.EclipseDevPreferencesMyxComponent"
            id="org.archstudio.eclipsedev.core.prefs.EclipseDevPreferencesMyxComponent"
            name="Eclipse Development Preferences Impl">
      </brick>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.archstudio.eclipsedev.core.prefs.EclipseDevPreferencePanel"
            id="org.archstudio.eclipsedev.core.prefs.EclipseDevPreferencePanel"
            name="ArchStudio Development">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.archstudio.eclipsedev.core.action.ToggleXadl3SchemaNatureAction">
      </startup>
   </extension>

</plugin>
