<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            class="org.archstudio.editormanager.core.EditorManagerMyxComponent"
            id="org.archstudio.editormanager.core.EditorManagerMyxComponent"
            name="Editor Manager Myx Component">
         <interface
               class="org.archstudio.editormanager.IEditorManager"
               delegate="variable"
               direction="in"
               domain="bottom"
               getter="true"
               id="editorManager"
               name="editorManager"
               single="true">
         </interface>
         <interface
               class="org.archstudio.eclipse.ui.IFocusEditorListener"
               delegate="events"
               direction="out"
               domain="bottom"
               getter="true"
               id="focusEditorEvents"
               name="focusEditorEvents"
               single="true">
         </interface>
         <interface
               class="org.eclipse.jface.preference.IPreferenceStore"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="preferences"
               name="preferences"
               single="true">
         </interface>
      </brick>
      <brick
            class="org.archstudio.editormanager.core.EditorPrefsMyxComponent"
            id="org.archstudio.editormanager.core.EditorPrefsMyxComponent"
            name="Editor Prefs Myx Component">
         <interface
               class="org.archstudio.editormanager.IEditorManager"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="editorManager"
               name="editorManager"
               single="true">
         </interface>
         <interface
               class="org.eclipse.jface.preference.IPreferenceStore"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="preferences"
               name="preferences"
               single="true">
         </interface>
      </brick>
   </extension>

</plugin>
