<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.archstudio.rootpreferences.core.ArchStudioPreferencePanel"
            id="org.archstudio.rootpreferences.core.ArchStudioPreferencePanel"
            name="ArchStudio Preferences">
      </page>
   </extension>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            class="org.archstudio.rootpreferences.core.RootPreferencesMyxComponent"
            id="org.archstudio.rootpreferences.core.RootPreferencesMyxComponent"
            name="Root Preferences Impl">
         <interface
               class="org.archstudio.resources.IResources"
               delegate="variable"
               direction="out"
               getter="true"
               id="resources"
               name="resources"
               single="true">
         </interface>
         <interface
               class="org.eclipse.jface.preference.IPreferenceStore"
               delegate="variable"
               direction="out"
               getter="true"
               id="preferences"
               name="preferences"
               single="true">
         </interface>
      </brick>
   </extension>

</plugin>
