<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            class="org.archstudio.myx.osgi.conn.OSGiEventPumpConnector"
            id="org.archstudio.myx.osgi.conn.OSGiEventPumpConnector"
            name="OSGi Event Pump Connector"
            parentBrick="org.archstudio.myx.java.conn.EventPumpConnector">
      </brick>
      <brick
            class="org.archstudio.myx.osgi.conn.OSGiSynchEventPumpConnector"
            id="org.archstudio.myx.osgi.conn.OSGiSynchEventPumpConnector"
            name="OSGi Synch Event Pump Connector">
      </brick>
      <brick
            class="org.archstudio.myx.osgi.conn.OSGiSynchronousProxyConnector"
            id="org.archstudio.myx.osgi.conn.OSGiSynchronousProxyConnector"
            name="OSGi Synch Proxy Connector"
            parentBrick="org.archstudio.myx.java.conn.SynchronousProxyConnector">
      </brick>
   </extension>
   <extension
         point="org.archstudio.myx.fw.equinox.brickLoader">
      <BrickLoader
            class="org.archstudio.myx.osgi.MyxOSGiBrickLoader"
            id="org.archstudio.myx.osgi.MyxOSGiBrickLoader">
         <Override
               brickLoader="org.archstudio.myx.java.MyxJavaClassBrickLoader">
         </Override>
      </BrickLoader>
   </extension>

</plugin>
