<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.archstudio.metadata.icon">
      <Icon
            icon16="res/hint-16.png"
            name="hint">
         <Type
               class="org.archstudio.xadl3.hints_3_0.Hint">
         </Type>
         <Type
               class="org.archstudio.xadl3.hints_3_0.HintsExtension">
         </Type>
      </Icon>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.archstudio.org/xadl3/schemas/hints-3.0.xsd"
            class="org.archstudio.xadl3.hints_3_0.Hints_3_0Package">
      </package>
   </extension>
   <extension
         point="org.archstudio.dblgen.processedSchema">
      <Schema
            file="model/hints-3.0.xsd"
            nsURI="http://www.archstudio.org/xadl3/schemas/hints-3.0.xsd">
      </Schema>
   </extension>

</plugin>
