<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.archstudio.metadata.icon">
      <Icon
            icon16="res/statechart-16.png"
            name="statechart">
         <Type
               class="org.archstudio.xadl3.statechart_1_0.Statechart">
         </Type>
         <Type
               class="org.archstudio.xadl3.statechart_1_0.SubStatechart">
         </Type>
         <Type
               class="org.archstudio.xadl3.statechart_1_0.StatechartSpecification">
         </Type>
      </Icon>
      <Icon
            icon16="res/initial-state-16.png"
            name="initial state">
         <Type
               class="org.archstudio.xadl3.statechart_1_0.InitialState">
         </Type>
      </Icon>
      <Icon
            icon16="res/final-state-16.png"
            name="final state">
         <Type
               class="org.archstudio.xadl3.statechart_1_0.FinalState">
         </Type>
      </Icon>
      <Icon
            icon16="res/state-16.png"
            name="state">
         <Type
               class="org.archstudio.xadl3.statechart_1_0.State">
         </Type>
      </Icon>
      <Icon
            icon16="res/transition-16.png"
            name="transition">
         <Type
               class="org.archstudio.xadl3.statechart_1_0.Transition">
         </Type>
      </Icon>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.archstudio.org/xadl3/schemas/statechart-1.0.xsd"
            class="org.archstudio.xadl3.statechart_1_0.Statechart_1_0Package">
      </package>
   </extension>
   <extension
         point="org.archstudio.dblgen.processedSchema">
      <Schema
            file="model/statechart-1.0.xsd"
            nsURI="http://www.archstudio.org/xadl3/schemas/statechart-1.0.xsd">
      </Schema>
   </extension>

</plugin>
