<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="dndtransferprovider" name="DNDTransferProvider" schema="schema/dndtransferprovider.exsd"/>
   <extension-point id="thingdefinition" name="ThingDefinition" schema="schema/thingdefinition.exsd"/>
   <extension
         point="org.archstudio.bna.thingdefinition">
      <Package
            name="org.archstudio.bna.facets">
         <Facet
               name="Alpha">
            <Key
                  default="1d"
                  name="Alpha"
                  type="java.lang.Double">
            </Key>
            <EditableQuality
                  name="UserMayChangeAlpha">
            </EditableQuality>
         </Facet>
         <Facet
               name="AnchorPoint">
            <Key
                  default="new java.awt.geom.Point2D.Double(0, 0)"
                  name="AnchorPoint"
                  shapeModifying="true"
                  type="java.awt.geom.Point2D">
            </Key>
         </Facet>
         <Facet
               name="Angle">
            <Key
                  default="0"
                  name="Angle"
                  shapeModifying="true"
                  type="java.lang.Integer">
            </Key>
            <EditableQuality
                  name="UserMayChangeAngle">
            </EditableQuality>
         </Facet>
         <Facet
               name="Arrowhead">
            <Key
                  default="20"
                  name="ArrowheadLength"
                  type="java.lang.Integer">
            </Key>
            <Key
                  default="org.archstudio.bna.constants.ArrowheadShape.TRIANGLE"
                  enum="org.archstudio.bna.constants.ArrowheadShape"
                  name="ArrowheadShape">
            </Key>
            <Key
                  default="10"
                  name="ArrowheadWidth"
                  type="java.lang.Integer">
            </Key>
            <Key
                  default="null"
                  name="ArrowheadColor"
                  nullable="true"
                  type="org.eclipse.swt.graphics.RGB">
            </Key>
            <Key
                  default="null"
                  name="ArrowheadEdgeColor"
                  nullable="true"
                  type="org.eclipse.swt.graphics.RGB">
            </Key>
         </Facet>
         <Facet
               name="BoundingBox">
            <Key
                  default="new org.eclipse.swt.graphics.Rectangle(0, 0, 30, 20)"
                  name="BoundingBox"
                  shapeModifying="true"
                  type="org.eclipse.swt.graphics.Rectangle">
            </Key>
            <JavaDoc>
               /**
 * For mutable properties, see {@link IHasReferencePoint} and {@link IHasSize}.
 */
            </JavaDoc>
         </Facet>
         <Facet
               name="Color">
            <Key
                  default="new org.eclipse.swt.graphics.RGB(0, 0, 0)"
                  name="Color"
                  nullable="true"
                  type="org.eclipse.swt.graphics.RGB">
            </Key>
            <EditableQuality
                  name="UserMayEditColor">
            </EditableQuality>
            <EditableQuality
                  name="UserMayCopyColor">
            </EditableQuality>
         </Facet>
         <Facet
               name="Count">
            <Key
                  default="1"
                  name="Count"
                  type="java.lang.Integer">
            </Key>
         </Facet>
         <Facet
               name="LineData">
            <ExtendsFacet
                  facet="LineStyle">
            </ExtendsFacet>
            <ExtendsFacet
                  facet="LineWidth">
            </ExtendsFacet>
            <ExtendsFacet
                  facet="EdgeColor">
            </ExtendsFacet>
         </Facet>
         <Facet
               name="Endpoints">
            <Key
                  default="new java.awt.geom.Point2D.Double(10, 0)"
                  name="Endpoint1"
                  shapeModifying="true"
                  type="java.awt.geom.Point2D">
            </Key>
            <Key
                  default="new java.awt.geom.Point2D.Double(0, 10)"
                  name="Endpoint2"
                  shapeModifying="true"
                  type="java.awt.geom.Point2D">
            </Key>
            <EditableQuality
                  name="UserMayMoveEndpoint1">
            </EditableQuality>
            <EditableQuality
                  name="UserMayMoveEndpoint2">
            </EditableQuality>
            <EditableQuality
                  name="UserMayRestickEndpoint1">
            </EditableQuality>
            <EditableQuality
                  name="UserMayRestickEndpoint2">
            </EditableQuality>
         </Facet>
         <Facet
               name="Flow">
            <Key
                  default="org.archstudio.swtutils.constants.Flow.NONE"
                  enum="org.archstudio.swtutils.constants.Flow"
                  name="Flow">
            </Key>
            <EditableQuality
                  name="UserMayEditFlow">
            </EditableQuality>
         </Facet>
         <Facet
               name="FontData">
            <Key
                  default="&quot;Dialog&quot;"
                  name="FontName"
                  type="java.lang.String">
            </Key>
            <Key
                  default="12"
                  name="FontSize"
                  type="java.lang.Integer">
            </Key>
            <Key
                  default="org.archstudio.swtutils.constants.FontStyle.NORMAL"
                  enum="org.archstudio.swtutils.constants.FontStyle"
                  name="FontStyle">
            </Key>
            <Key
                  default="false"
                  name="DontIncreaseFontSize"
                  type="java.lang.Boolean">
            </Key>
         </Facet>
         <Facet
               name="Glow">
            <Key
                  default="null"
                  name="GlowColor"
                  nullable="true"
                  type="org.eclipse.swt.graphics.RGB">
            </Key>
            <Key
                  default="20"
                  name="GlowWidth"
                  type="java.lang.Integer">
            </Key>
            <Key
                  default="0.75d"
                  name="GlowAlpha"
                  type="java.lang.Double">
            </Key>
         </Facet>
         <Facet
               name="GradientFilled">
            <ExtendsFacet
                  facet="Color">
            </ExtendsFacet>
            <ExtendsFacet
                  facet="SecondaryColor">
            </ExtendsFacet>
            <Key
                  default="true"
                  name="GradientFilled"
                  type="java.lang.Boolean">
            </Key>
         </Facet>
         <Facet
               name="HorizontalAlignment">
            <Key
                  default="org.archstudio.swtutils.constants.HorizontalAlignment.CENTER"
                  enum="org.archstudio.swtutils.constants.HorizontalAlignment"
                  name="HorizontalAlignment">
            </Key>
         </Facet>
         <Facet
               name="IndicatorPoint">
            <Key
                  default="null"
                  name="IndicatorPoint"
                  nullable="true"
                  type="java.awt.geom.Point2D">
            </Key>
         </Facet>
         <Facet
               name="LineStyle">
            <Key
                  default="org.archstudio.swtutils.constants.LineStyle.SOLID"
                  enum="org.archstudio.swtutils.constants.LineStyle"
                  name="LineStyle">
            </Key>
         </Facet>
         <Facet
               name="LineWidth">
            <Key
                  default="1"
                  name="LineWidth"
                  type="java.lang.Integer">
            </Key>
         </Facet>
         <Facet
               name="LocalInsets">
            <Key
                  default="new java.awt.Insets(0, 0, 0, 0)"
                  name="LocalInsets"
                  type="java.awt.Insets">
            </Key>
         </Facet>
         <Facet
               name="Midpoints">
            <Key
                  default="new java.util.ArrayList&lt;java.awt.geom.Point2D&gt;()"
                  generic="java.util.List&lt;java.awt.geom.Point2D&gt;"
                  name="Midpoints"
                  shapeModifying="true">
            </Key>
            <EditableQuality
                  name="UserMayAddMidpoints">
            </EditableQuality>
            <EditableQuality
                  name="UserMayRemoveMidpoints">
            </EditableQuality>
            <EditableQuality
                  name="UserMayMoveMidpoints">
            </EditableQuality>
         </Facet>
         <Facet
               name="Orientation">
            <Key
                  default="org.archstudio.swtutils.constants.Orientation.NONE"
                  enum="org.archstudio.swtutils.constants.Orientation"
                  name="Orientation">
            </Key>
         </Facet>
         <Facet
               name="Radius">
            <Key
                  default="50"
                  name="Radius"
                  type="java.lang.Integer">
            </Key>
         </Facet>
         <Facet
               name="ReferencePoint">
            <Method
                  signature="public org.eclipse.swt.graphics.Point getReferencePoint()">
            </Method>
            <Method
                  signature="public void setReferencePoint(org.eclipse.swt.graphics.Point value)">
            </Method>
            <EditableQuality
                  name="UserMayMove">
            </EditableQuality>
         </Facet>
         <Facet
               name="RotatingOffset">
            <Key
                  default="0"
                  name="RotatingOffset"
                  type="java.lang.Integer">
            </Key>
            <Method
                  signature="public boolean shouldIncrementRotatingOffset()">
               <JavaDoc>
                  /**
 * This is an optimization to reduce unnecessary BNA event noise caused by the {@link RotatingOffsetLogic} calling
 * {@link #incrementRotatingOffset()}. For example, it is unnecessary to call {@link #incrementRotatingOffset()} for
 * things that are not selected, e.g., {@link RectangleThing}. Conversely, {@link #incrementRotatingOffset()} must
 * always be called on {@link MarqueeBoxBorderThing}.
 * 
 * @see RotatingOffsetLogic
 * @see MarqueeBoxBorderThing
 * @return &lt;code&gt;false&lt;/code&gt; if it is know that calling the {@link #incrementRotatingOffset()} method is
 *         unnecessary, &lt;code&gt;true&lt;/code&gt; otherwise.
 */
               </JavaDoc>
            </Method>
         </Facet>
         <Facet
               name="SecondaryColor">
            <Key
                  default="new org.eclipse.swt.graphics.RGB(192, 192, 192)"
                  name="SecondaryColor"
                  nullable="true"
                  type="org.eclipse.swt.graphics.RGB">
            </Key>
         </Facet>
         <Facet
               name="Selected">
            <ExtendsFacet
                  facet="RotatingOffset">
            </ExtendsFacet>
            <Key
                  default="false"
                  name="Selected"
                  type="java.lang.Boolean">
            </Key>
            <EditableQuality
                  name="UserMaySelect">
            </EditableQuality>
         </Facet>
         <Facet
               name="Shape">
            <Key
                  default="new java.awt.geom.Rectangle2D.Double(0, 0, 0, 0)"
                  name="Shape"
                  shapeModifying="true"
                  type="java.awt.Shape">
            </Key>
         </Facet>
         <Facet
               name="Size">
            <EditableQuality
                  name="UserMayResize">
            </EditableQuality>
            <Key
                  default="new java.awt.Dimension(10, 10)"
                  name="Size"
                  type="java.awt.Dimension">
            </Key>
         </Facet>
         <Facet
               name="StickyShape">
            <Method
                  signature="public java.awt.Shape getStickyShape()">
            </Method>
         </Facet>
         <Facet
               name="Text">
            <Key
                  default="&quot;Text&quot;"
                  name="Text"
                  type="java.lang.String">
            </Key>
            <EditableQuality
                  name="UserMayEditText">
            </EditableQuality>
         </Facet>
         <Facet
               name="ToolTip">
            <Key
                  default="null"
                  name="ToolTip"
                  type="java.lang.String">
            </Key>
            <EditableQuality
                  name="UserMayEditToolTip">
            </EditableQuality>
         </Facet>
         <Facet
               name="VerticalAlignment">
            <Key
                  default="org.archstudio.swtutils.constants.VerticalAlignment.MIDDLE"
                  enum="org.archstudio.swtutils.constants.VerticalAlignment"
                  name="VerticalAlignment">
            </Key>
         </Facet>
         <Facet
               name="Width">
            <Key
                  default="1"
                  name="Width"
                  type="java.lang.Integer">
            </Key>
         </Facet>
         <Facet
               name="World">
            <Key
                  default="null"
                  name="World"
                  nullable="true"
                  type="org.archstudio.bna.IBNAWorld">
            </Key>
         </Facet>
         <Facet
               name="MinimumSize">
            <Key
                  default="new java.awt.Dimension(1, 1)"
                  name="MinimumSize"
                  type="java.awt.Dimension">
            </Key>
         </Facet>
         <Facet
               name="EdgeColor">
            <Key
                  default="new org.eclipse.swt.graphics.RGB(0, 0, 0)"
                  name="EdgeColor"
                  nullable="true"
                  type="org.eclipse.swt.graphics.RGB">
            </Key>
            <EditableQuality
                  name="UserMayEditEdgeColor">
            </EditableQuality>
         </Facet>
         <Facet
               name="Tint">
            <Key
                  default="null"
                  name="Tint"
                  nullable="true"
                  type="org.eclipse.swt.graphics.RGB">
            </Key>
         </Facet>
         <Facet
               name="Hidden">
            <Key
                  default="false"
                  name="Hidden"
                  type="java.lang.Boolean">
            </Key>
         </Facet>
         <Facet
               name="Arrowheads">
            <Key
                  default="20"
                  name="Arrowhead1Length"
                  type="java.lang.Integer">
            </Key>
            <Key
                  default="org.archstudio.bna.constants.ArrowheadShape.TRIANGLE"
                  enum="org.archstudio.bna.constants.ArrowheadShape"
                  name="Arrowhead1Shape">
            </Key>
            <Key
                  default="10"
                  name="Arrowhead1Width"
                  type="java.lang.Integer">
            </Key>
            <Key
                  default="20"
                  name="Arrowhead2Length"
                  type="java.lang.Integer">
            </Key>
            <Key
                  default="org.archstudio.bna.constants.ArrowheadShape.TRIANGLE"
                  enum="org.archstudio.bna.constants.ArrowheadShape"
                  name="Arrowhead2Shape">
            </Key>
            <Key
                  default="10"
                  name="Arrowhead2Width"
                  type="java.lang.Integer">
            </Key>
            <Key
                  default="null"
                  name="Arrowhead1Color"
                  nullable="true"
                  type="org.eclipse.swt.graphics.RGB">
            </Key>
            <Key
                  default="null"
                  name="Arrowhead2Color"
                  nullable="true"
                  type="org.eclipse.swt.graphics.RGB">
            </Key>
            <Key
                  default="null"
                  name="Arrowhead1EdgeColor"
                  nullable="true"
                  type="org.eclipse.swt.graphics.RGB">
            </Key>
            <Key
                  default="null"
                  name="Arrowhead2EdgeColor"
                  nullable="true"
                  type="org.eclipse.swt.graphics.RGB">
            </Key>
         </Facet>
         <Facet
               name="RoundCorners">
            <Key
                  default="new java.awt.Dimension(0, 0)"
                  name="RoundCorners"
                  shapeModifying="true"
                  type="java.awt.Dimension">
            </Key>
         </Facet>
         <Facet
               name="Curve">
            <Key
                  default="10"
                  name="Curve"
                  shapeModifying="true"
                  type="java.lang.Integer">
            </Key>
         </Facet>
         <Facet
               name="Spacing">
            <Key
                  default="0"
                  name="Spacing"
                  type="java.lang.Integer">
            </Key>
         </Facet>
         <Facet
               name="LoopOrientation">
            <Key
                  default="org.archstudio.swtutils.constants.Orientation.NONE"
                  enum="org.archstudio.swtutils.constants.Orientation"
                  name="LoopOrientation"
                  shapeModifying="true">
            </Key>
         </Facet>
         <Facet
               name="Background">
            <Key
                  default="false"
                  name="Background"
                  type="java.lang.Boolean">
            </Key>
         </Facet>
         <Facet
               name="StandardCursor">
            <Key
                  default="org.eclipse.swt.SWT.NONE"
                  name="StandardCursor"
                  type="java.lang.Integer">
            </Key>
         </Facet>
         <Facet
               name="InternalWorldPoint">
            <Key
                  default="new java.awt.geom.Point2D.Double(0, 0)"
                  name="InternalPoint"
                  type="java.awt.geom.Point2D">
            </Key>
            <RefKey
                  name="InternalWorld"
                  type="org.archstudio.bna.facets.IHasWorld">
            </RefKey>
         </Facet>
         <Facet
               name="Points">
            <Key
                  default="com.google.common.collect.Lists.&lt;java.awt.geom.Point2D&gt;newArrayList(new java.awt.geom.Point2D.Double(-1, 1), new java.awt.geom.Point2D.Double(0, -1), new java.awt.geom.Point2D.Double(1, 1))"
                  generic="java.util.List&lt;java.awt.geom.Point2D&gt;"
                  name="Points"
                  nullable="false"
                  shapeModifying="true">
            </Key>
         </Facet>
         <Facet
               name="Life">
            <Key
                  default="5000"
                  name="Life"
                  type="java.lang.Integer">
            </Key>
         </Facet>
      </Package>
      <Package
            name="org.archstudio.bna.things.shapes">
         <Thing
               name="Ellipse">
            <ImplementsFacet
                  facet="BoundingBox">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="LineData">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Glow">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Selected">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="StickyShape">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="GradientFilled">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Count">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="ReferencePoint">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="MinimumSize">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Alpha">
            </ImplementsFacet>
         </Thing>
         <Thing
               name="Rectangle">
            <ImplementsFacet
                  facet="BoundingBox">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="LineData">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Glow">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Selected">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="StickyShape">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="GradientFilled">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Count">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="RoundCorners">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="ReferencePoint">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="MinimumSize">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Alpha">
            </ImplementsFacet>
         </Thing>
         <Thing
               name="ReshapeHandle">
            <ImplementsFacet
                  facet="AnchorPoint">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Size">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Color">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="ReferencePoint">
            </ImplementsFacet>
         </Thing>
         <Thing
               name="Spline">
            <ImplementsFacet
                  facet="Selected">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Glow">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Midpoints">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Arrowheads">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="BoundingBox"
                  readOnly="true">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="LineData">
            </ImplementsFacet>
            <ImplementsInterface
                  interface="org.archstudio.bna.logics.coordinating.StickPointLogic$IHasSecondaryPoint">
            </ImplementsInterface>
            <ImplementsFacet
                  facet="ReferencePoint">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Endpoints">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Points"
                  readOnly="true">
            </ImplementsFacet>
         </Thing>
         <Thing
               name="Polygon">
            <ImplementsFacet
                  facet="BoundingBox"
                  readOnly="true">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Glow">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="LineData">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Selected">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="GradientFilled">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Points">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="ReferencePoint">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="StickyShape">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Alpha">
            </ImplementsFacet>
         </Thing>
         <Thing
               name="CurvedSpline">
            <ImplementsFacet
                  facet="Endpoints">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Selected">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Glow">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Arrowheads">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="LineData">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Curve">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="AnchorPoint"
                  readOnly="true">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Spacing">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="LoopOrientation">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="BoundingBox"
                  readOnly="true">
            </ImplementsFacet>
            <ImplementsInterface
                  interface="org.archstudio.bna.logics.coordinating.StickPointLogic$IHasLoopablePoint">
            </ImplementsInterface>
            <ImplementsInterface
                  interface="org.archstudio.bna.logics.coordinating.StickPointLogic$IHasSecondaryPoint">
            </ImplementsInterface>
            <ImplementsFacet
                  facet="ReferencePoint">
            </ImplementsFacet>
         </Thing>
         <Thing
               name="Mapping">
            <ImplementsFacet
                  facet="LineData">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="InternalWorldPoint">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="AnchorPoint">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Glow">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Selected">
            </ImplementsFacet>
         </Thing>
         <Thing
               name="LocalShape">
            <ImplementsFacet
                  facet="Shape">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="AnchorPoint">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="GradientFilled">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="LineData">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Size">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Selected">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Glow">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="MinimumSize">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Alpha">
            </ImplementsFacet>
         </Thing>
         <Thing
               name="Endpoint">
            <ImplementsFacet
                  facet="BoundingBox"
                  readOnly="true">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Count">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Glow">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="GradientFilled">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="LineData">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="ReferencePoint">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="RoundCorners">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Selected">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="StickyShape">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="AnchorPoint">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Size">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="MinimumSize">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Alpha">
            </ImplementsFacet>
         </Thing>
      </Package>
      <Package
            name="org.archstudio.bna.things.labels">
         <Thing
               name="BoundedLabel">
            <ImplementsFacet
                  facet="Text">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Color">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="HorizontalAlignment">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="VerticalAlignment">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="FontData">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="BoundingBox">
            </ImplementsFacet>
         </Thing>
         <Thing
               name="DirectionalLabel">
            <ImplementsFacet
                  facet="BoundingBox">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Color">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Flow">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Orientation">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="ReferencePoint">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="LocalInsets">
            </ImplementsFacet>
         </Thing>
         <Thing
               name="AnchoredLabel">
            <ImplementsFacet
                  facet="Text">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="HorizontalAlignment">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="VerticalAlignment">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="FontData">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="LineData">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="IndicatorPoint">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="ReferencePoint">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Angle">
            </ImplementsFacet>
            <ImplementsInterface
                  interface="org.archstudio.bna.logics.coordinating.StickPointLogic$IHasSecondaryPoint">
            </ImplementsInterface>
            <ImplementsFacet
                  facet="AnchorPoint">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Color">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="BoundingBox"
                  readOnly="true">
            </ImplementsFacet>
         </Thing>
         <Thing
               name="UserNotification">
            <ImplementsFacet
                  facet="AnchorPoint">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Text">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="FontData">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="GradientFilled">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="EdgeColor">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Life">
            </ImplementsFacet>
         </Thing>
      </Package>
      <Package
            name="org.archstudio.bna.things.borders">
         <Thing
               name="MarqueeBoxBorder">
            <ImplementsFacet
                  facet="BoundingBox">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="RotatingOffset">
            </ImplementsFacet>
         </Thing>
         <Thing
               name="PulsingBorder">
            <ImplementsFacet
                  facet="BoundingBox">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="RotatingOffset">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Glow">
            </ImplementsFacet>
         </Thing>
      </Package>
      <Package
            name="org.archstudio.bna.things.graphs">
         <Thing
               name="NumericSurfaceGraph">
            <ImplementsFacet
                  facet="BoundingBox">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Selected">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="ReferencePoint">
            </ImplementsFacet>
            <Key
                  default="new org.archstudio.bna.things.graphs.NumericAxis()"
                  name="XMajorAxis"
                  type="org.archstudio.bna.things.graphs.NumericAxis">
            </Key>
            <Key
                  default="new org.archstudio.bna.things.graphs.NumericAxis()"
                  name="YMajorAxis"
                  type="org.archstudio.bna.things.graphs.NumericAxis">
            </Key>
            <Key
                  default="new org.archstudio.bna.things.graphs.NumericAxis()"
                  name="ZMajorAxis"
                  type="org.archstudio.bna.things.graphs.NumericAxis">
            </Key>
            <Key
                  default="new org.archstudio.bna.things.graphs.NumericAxis()"
                  name="XMinorAxis"
                  type="org.archstudio.bna.things.graphs.NumericAxis">
            </Key>
            <Key
                  default="new org.archstudio.bna.things.graphs.NumericAxis()"
                  name="YMinorAxis"
                  type="org.archstudio.bna.things.graphs.NumericAxis">
            </Key>
            <Key
                  default="new org.archstudio.bna.things.graphs.NumericAxis()"
                  name="ZMinorAxis"
                  type="org.archstudio.bna.things.graphs.NumericAxis">
            </Key>
            <Key
                  default="30"
                  name="XRotation"
                  type="java.lang.Integer">
            </Key>
            <Key
                  default="20"
                  name="YRotation"
                  type="java.lang.Integer">
            </Key>
            <Key
                  default="0d"
                  name="MajorContourAlpha"
                  type="java.lang.Double">
            </Key>
            <Key
                  default="0d"
                  name="MinorContourAlpha"
                  type="java.lang.Double">
            </Key>
            <Key
                  default="new org.archstudio.bna.things.graphs.NumericSurfaceGraphThing.Data()"
                  name="Data"
                  type="org.archstudio.bna.things.graphs.NumericSurfaceGraphThing$Data">
            </Key>
            <Key
                  default="false"
                  name="FlipData"
                  type="java.lang.Boolean">
            </Key>
            <Key
                  default="0.25d"
                  name="GridAlpha"
                  type="java.lang.Double">
            </Key>
         </Thing>
      </Package>
      <Package
            name="org.archstudio.bna.things.swt">
         <Thing
               abstract="true"
               name="AbstractControl">
            <ImplementsFacet
                  facet="BoundingBox">
            </ImplementsFacet>
         </Thing>
         <Thing
               name="SWTScrollBar">
            <ExtendsThing
                  thing="AbstractControl">
            </ExtendsThing>
            <Key
                  default="0"
                  name="Min"
                  type="java.lang.Integer">
            </Key>
            <Key
                  default="100"
                  name="Max"
                  type="java.lang.Integer">
            </Key>
            <Key
                  default="50"
                  name="Value"
                  type="java.lang.Integer">
            </Key>
            <Key
                  default="org.archstudio.bna.things.swt.SWTScrollBarThing.Type.HORIZONTAL"
                  enum="org.archstudio.bna.things.swt.SWTScrollBarThing.Type"
                  name="Type">
            </Key>
         </Thing>
         <Thing
               name="SWTText">
            <ExtendsThing
                  thing="AbstractControl">
            </ExtendsThing>
            <ImplementsFacet
                  facet="Text">
            </ImplementsFacet>
         </Thing>
      </Package>
      <Package
            name="org.archstudio.bna.things.utility">
         <Thing
               name="World">
            <ImplementsFacet
                  facet="BoundingBox">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="World">
            </ImplementsFacet>
         </Thing>
         <Thing
               name="Grid">
            <ImplementsFacet
                  facet="EdgeColor">
            </ImplementsFacet>
            <Key
                  default="24"
                  name="GridSpacing"
                  type="java.lang.Integer">
            </Key>
            <Key
                  default="org.archstudio.bna.constants.GridDisplayType.DOTTED_LINES"
                  enum="org.archstudio.bna.constants.GridDisplayType"
                  name="GridDisplayType">
            </Key>
         </Thing>
         <Thing
               name="Shadow">
         </Thing>
         <Thing
               name="Rotater">
            <ImplementsFacet
                  facet="AnchorPoint">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Angle">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Radius">
            </ImplementsFacet>
            <Key
                  default="15"
                  name="AdjustmentIncrement"
                  type="java.lang.Integer">
            </Key>
         </Thing>
      </Package>
   </extension>

</plugin>
