<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="archlighttest" name="ArchlightTest" schema="schema/archlighttest.exsd"/>
   <extension-point id="prologstatement" name="PrologStatement" schema="schema/prologstatement.exsd"/>
   <extension
         point="org.archstudio.prolog.archstudio.archlighttest">
      <ArchlightTest
            description="Checks whether linked interfaces have compatible directions."
            id="org.archstudio.prolog.archstudio.ArchlightTest1"
            name="xADL 3/Structures/Interface Directions Compatible">
         <Prolog>
            error(Id,&apos;Connected interfaces have incompatible directions&apos;) :-
    type(L, link), value(L, id, Id),
    value(L, point1, P1), value(L, point2, P2),
    value(P1, direction, P1d), value(P2, direction, P2d),
    \+ compatible_directions(P1d, P2d).
error(Id, &apos;Connected interfaces have incompatible directions&apos;) :-
    type(L, interfaceMapping), value(L, id, Id),
    value(L, innerInterfaceLink, P1),
    value(L, outerInterfaceLink, P2),
    value(P1, direction, P1d), value(P2, direction, P2d), 
    P1d \= P2d.
         </Prolog>
      </ArchlightTest>
   </extension>

</plugin>
