<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="archlighttest" name="ArchlightTest" schema="schema/archlighttest.exsd"/>
   <extension
         point="org.archstudio.prolog.archstudio.archlighttest">
      <ArchlightTest
            description="Checks whether linked interfaces have compatible directions."
            goal="test"
            id="org.archstudio.prolog.archstudio.ArchlightTest1"
            name="xADL 3/Structures/Interface Directions Compatible">
         <Prolog>
            compatible_directions(&apos;in&apos;, &apos;out&apos;).
compatible_directions(&apos;out&apos;, &apos;in&apos;).
compatible_directions(&apos;inout&apos;, &apos;inout&apos;).
compatible_directions(&apos;none&apos;, &apos;none&apos;).
test(Id, &apos;Connected interfaces have incompatible directions&apos;) :- 
    link(L), id(L, Id), 
    link_point1(L, P1), link_point2(L, P2), 
    direction(P1, P1d), direction(P2, P2d), 
    \+ compatible_directions(P1d, P2d).
test(Id, &apos;Connected interfaces have incompatible directions&apos;) :- 
    interfaceMapping(L), id(L, Id), 
    interfaceMapping_innerInterfaceLink(L, P1), 
    interfaceMapping_outerInterfaceLink(L, P2), 
    direction(P1, P1d), direction(P2, P2d), 
    P1d \= P2d.
         </Prolog>
      </ArchlightTest>
   </extension>

</plugin>
