<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            class="org.archstudio.noticeadt.core.ArchlightNoticeADTMyxComponent"
            id="org.archstudio.noticeadt.core.ArchlightNoticeADTMyxComponent"
            name="Archlight Notice Impl">
         <interface
               class="org.archstudio.noticeadt.IArchlightNoticeADT"
               delegate="variable"
               direction="in"
               domain="bottom"
               getter="true"
               id="notices"
               name="notices"
               single="true">
         </interface>
         <interface
               class="org.archstudio.noticeadt.ArchlightNoticeADTListener"
               delegate="events"
               direction="out"
               domain="bottom"
               getter="true"
               id="noticeEvents"
               name="noticeEvents"
               single="false">
         </interface>
      </brick>
   </extension>

</plugin>
