<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            class="org.archstudio.noticeview.core.ArchlightNoticeViewMyxComponent"
            id="org.archstudio.noticeview.core.ArchlightNoticeViewMyxComponent"
            name="Archlight Notice View Impl">
         <interface
               class="org.archstudio.resources.IResources"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="resources"
               name="resources"
               single="true">
         </interface>
         <interface
               class="org.archstudio.noticeadt.ArchlightNoticeADTListener"
               delegate="events"
               direction="in"
               domain="top"
               getter="true"
               id="noticeEvents"
               name="noticeEvents"
               single="false">
         </interface>
         <interface
               class="org.archstudio.noticeadt.IArchlightNoticeADT"
               delegate="variable"
               direction="out"
               domain="top"
               getter="true"
               id="notices"
               name="notices"
               single="true">
         </interface>
      </brick>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.archstudio.main.ArchStudio5Views"
            class="org.archstudio.noticeview.core.ArchlightNoticeView"
            icon="res/archstudio-icon-16x16.png"
            id="org.archstudio.noticeview.core.ArchlightNoticeView"
            name="Archlight Notices"
            restorable="true">
      </view>
   </extension>

</plugin>
