<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.myxgen.brick">
      <brick
            class="org.archstudio.preferencesadt.core.PreferencesADTMyxComponent"
            id="org.archstudio.preferencesadt.core.PreferencesADTMyxComponent"
            name="Preferences ADT Impl">
         <interface
               class="org.eclipse.jface.preference.IPreferenceStore"
               delegate="variable"
               direction="in"
               getter="true"
               id="preferences"
               name="preferences"
               single="true">
         </interface>
         <interface
               class="org.eclipse.jface.util.IPropertyChangeListener"
               delegate="events"
               direction="out"
               getter="true"
               id="propertyEvents"
               name="propertyEvents"
               single="false">
         </interface>
      </brick>
   </extension>

</plugin>
