<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.archipelago2.outlines">
      <Path
            name="Statecharts">
      </Path>
      <ContentProvider
            class="org.archstudio.archipelago2.ext.statecharts.outline.StatechartsContentProvider">
      </ContentProvider>
      <MenuContributor
            class="org.archstudio.archipelago2.ext.statecharts.outline.StatechartsMenuContributor">
      </MenuContributor>
   </extension>
   <extension
         point="org.archstudio.archipelago2.editors">
      <Editor
            class="org.archstudio.archipelago2.ext.statecharts.StatechartEditor"
            name="Statechart">
      </Editor>
   </extension>
   <extension
         point="org.archstudio.bna.thingdefinition">
      <Package
            name="org.archstudio.archipelago2.ext.statecharts.things">
         <Thing
               name="FinalState">
            <ImplementsFacet
                  facet="BoundingBox">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Selected">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Glow">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="ReferencePoint">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="StickyShape">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="GradientFilled">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="LineData">
            </ImplementsFacet>
         </Thing>
      </Package>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.archstudio.archipelago2.Archipelago2Preferences"
            class="org.archstudio.archipelago2.ext.statecharts.StatechartPreferences"
            id="org.archstudio.archipelago2.ext.statecharts.StatechartPreferences"
            name="Statechart">
      </page>
   </extension>

</plugin>
