<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.archstudio.archipelago">
      <ArchipelagoTreePlugin
            class="org.archstudio.archipelago.statechart.core.StatechartTreePlugin">
      </ArchipelagoTreePlugin>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.archstudio.archipelago.core.prefs.ArchipelagoPreferencePanel"
            class="org.archstudio.archipelago.statechart.core.StatechartPreferences"
            id="org.archstudio.archipelago.statechart.core.page1"
            name="Statechart">
      </page>
   </extension>
   <extension
         point="org.archstudio.bna.thingdefinition">
      <Package
            name="org.archstudio.archipelago.statechart.core.things.shapes">
         <Thing
               name="FinalState">
            <ImplementsFacet
                  facet="BoundingBox">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Selected">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="Glow">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="ReferencePoint">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="StickyShape">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="GradientFilled">
            </ImplementsFacet>
            <ImplementsFacet
                  facet="LineData">
            </ImplementsFacet>
         </Thing>
      </Package>
   </extension>

</plugin>
